<!--  наследуемся от шаблона default.html -->
{% extends 'default.html' %}

{% block title %}Блог{% endblock title %}

{% block gorizontal_slider %}
{% endblock gorizontal_slider %}

{% block content %}
    <div class="main_blog_details">
        <img class="img-fluid" src="{{ MEDIA_URL }}{{ ad.poster }}" alt="">
        <a href="#"><h4>{{ ad.title }}</h4></a>
        <div class="user_details">
          <div class="float-left">
            <a href="#">{{ ad.category }}</a>
          </div>
          <div class="float-right mt-sm-0 mt-3">
            <div class="media">
              <div class="media-body">
                <h5>{{ ad.author }}</h5>
                <p>{{ ad.date_created }}</p>
              </div>
<!--              <div class="d-flex">-->
<!--                  <img width="42" height="42" src="img/blog/user-img.png" alt="">-->
<!--              </div>-->
            </div>
          </div>
        </div>
        <p>{{ ad.text }}</p>
        <div class="news_d_footer flex-column flex-sm-row">
<!--            <a href="#"><span class="align-middle mr-2"><i class="ti-heart"></i></span>Lily and 4 people like this</a>-->
<!--            <a class="justify-content-sm-center ml-sm-auto mt-sm-0 mt-2" </a>-->
            <div class="news_socail ml-sm-auto mt-sm-0 mt-2"></div>
        </div>
    </div>
    <p>

    </p>
    <p>
        {% for image in ad.image_set.all %}
            <img src="{{ MEDIA_URL }}{{ image.photo }}" class="card-img rounded-0" alt="">
        <br>
        <br>
        {% endfor %}
    </p>
    <!-- Комментарии -->
    <div class="comments-area">
        <h4>05 Comments</h4>
        <div class="comment-list">
            <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                    <div class="thumb">
                        <img src="#" alt="">
                    </div>
                    <div class="desc">
                        <h5><a href="#">Emilly Blunt</a></h5>
                        <p class="date">December 4, 2017 at 3:12 pm </p>
                        <p class="comment">
                            Never say goodbye till the end comes!
                        </p>
                    </div>
                </div>
                <div class="reply-btn">
                        <a href="" class="btn-reply text-uppercase">reply</a>
                </div>
            </div>
        </div>
        <div class="comment-list left-padding">
            <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                    <div class="thumb">
                        <img src="img/blog/c2.jpg" alt="">
                    </div>
                    <div class="desc">
                        <h5><a href="#">Elsie Cunningham</a></h5>
                        <p class="date">December 4, 2017 at 3:12 pm </p>
                        <p class="comment">
                            Never say goodbye till the end comes!
                        </p>
                    </div>
                </div>
                <div class="reply-btn">
                        <a href="" class="btn-reply text-uppercase">reply</a>
                </div>
            </div>
        </div>
        <div class="comment-list left-padding">
            <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                    <div class="thumb">
                        <img src="img/blog/c3.jpg" alt="">
                    </div>
                    <div class="desc">
                        <h5><a href="#">Annie Stephens</a></h5>
                        <p class="date">December 4, 2017 at 3:12 pm </p>
                        <p class="comment">
                            Never say goodbye till the end comes!
                        </p>
                    </div>
                </div>
                <div class="reply-btn">
                        <a href="" class="btn-reply text-uppercase">reply</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Форма комментария -->
    <div class="comment-form">
        <h4>Оставить комментарий</h4>
        <form action="{% url 'add_comment' ad.id %}" method="post">
            {% csrf_token %}
            <div class="form-group form-inline">
              <div class="form-group col-lg-6 col-md-6 name">
                <input type="text" class="form-control" id="comment_author" name="comment_author" placeholder="Введите имя" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Введите имя'">
              </div>
              <div class="form-group col-lg-6 col-md-6 email">
                <input type="email" class="form-control" id="email" name="email" placeholder="Введите почтовый адрес" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Введите почтовый адрес'">
              </div>
            </div>
<!--            <div class="form-group">-->
<!--                <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Тема'">-->
<!--            </div>-->
            <div class="form-group">
                <textarea class="form-control mb-10" rows="5" name="comment_text" placeholder="Текст" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Текст'" required=""></textarea>
            </div>
            <button type="submit" class="button submit_btn">Отправить</button>
        </form>
    </div>
{% endblock content %}
